njc-rds-sapi/src/main/mule/njc-wma-rds-sapi.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
    <flow name="njc-wma-rds-sapi-main">
        <http:listener config-ref="HTTP_Listener_config" path="/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="njc-wma-rds-sapi-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="njc-wma-rds-sapi-console">
        <http:listener config-ref="HTTP_Listener_config" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="njc-wma-rds-sapi-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="get:\subAccount\(sub_acct_id)\details\(sub_acct_id):njc-wma-rds-sapi-config">
        <flow-ref doc:name="Flow Reference" doc:id="e085679c-114c-48e2-9198-472054129d0e" name="njc-rds-subaccountdetails" />
    </flow>
    <flow name="get:\subAccount\(sub_acct_id):njc-wma-rds-sapi-config">
        <flow-ref doc:name="Flow Reference" doc:id="41b43254-d7da-4aac-9301-b188248eda9f" name="njc-rds-subaccount" />
    </flow>
    <flow name="post:\account:application\json:njc-wma-rds-sapi-config">
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "insert successful"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\client:application\json:njc-wma-rds-sapi-config">
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "insert successful"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\subAccount\(sub_acct_id)\details:application\json:njc-wma-rds-sapi-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="sub_acct_id">attributes.uriParams.'sub_acct_id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "insert successful"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\account\(account_id)\details:application\json:njc-wma-rds-sapi-config">
        <flow-ref doc:name="Flow Reference" doc:id="16fd065f-8cba-4139-92c7-5e254eadb192" name="njc-rds-accountdetails" />
    </flow>
    <flow name="post:\subAccount:application\json:njc-wma-rds-sapi-config">
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "insert successful"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\account\summary\details:njc-wma-rds-sapi-config">
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  accountId: 98534,
  validityDate: "2022-01-31",
  productCode: "LSA895",
  totalInvestmentAmount: "4200000.00",
  totalWithdrawnAmount: "2000000.00",
  totalIncomeAmount: "1000000.00",
  currentAssetValueAmount: "3400000.00",
  bankingBalanceAmount: "3500000.00",
  encashmentValueAmount: "4000000.00",
  netChange: "25000"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\account\summary:njc-wma-rds-sapi-config">
        <flow-ref doc:name="Flow Reference" doc:id="d9413288-aa79-4ef2-910f-c72eee2d0f8b" name="njc-rds-accountsummaryFlow" />
    </flow>
    <flow name="post:\account\summary\details:application\json:njc-wma-rds-sapi-config">
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "insert successful"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\account\(accountId)\details:njc-wma-rds-sapi-config">
        <flow-ref doc:name="Flow Reference" doc:id="050f0dbb-ea62-48c1-bbe9-467c05a11919" name="njc-rds-accountdetails" />
    </flow>
    <flow name="get:\summary\(Id):njc-wma-rds-sapi-config">
        <flow-ref doc:name="Flow Reference" doc:id="a56e982c-582b-4dd1-8581-bda352f7d807" name="njc-rds-accountUsingclientIdFlow" />
    </flow>
    <flow name="get:\account\(accountId):njc-wma-rds-sapi-config">
        <flow-ref doc:name="Flow Reference" doc:id="c4edb78b-f95d-41e9-a8df-e54b59758d39" name="njc-rds-sapiaccount" />
    </flow>
    <flow name="get:\client\(clientId):njc-wma-rds-sapi-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="clientId">attributes.uriParams.'clientId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  clientId: 100,
  clientAccountNumber: "",
  accountId: 98534,
  productCode: "LSA895",
  currencyCode: "CUR002",
  commDate: "2022-04-12",
  jointFlag: "No",
  accountType: "Investment"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\account\(accountId)\details:application\json:njc-wma-rds-sapi-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="accountId">attributes.uriParams.'accountId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "insert successful"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\account\(Id)\summary:njc-wma-rds-sapi-config">
		<flow-ref doc:name="clientAccountSummary" doc:id="1c2899ae-5d76-46e0-b337-99cd0c391ea9" name="clientAccountSummary"/>
    </flow>
</mule>
